{% extends 'base.html.twig' %}

{% block title %}New Transaction{% endblock %}

{% block body %}
    <br/><h1>Create new Transaction</h1><br/>

    <a href="{{ path('transaction_index') }}" class="btn btn-info">
        <i class="fa fa-list" aria-hidden="true"></i> back to list
    </a><br/><br>

    {{ include('transaction/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/transaction.js') }}"></script>
{% endblock %}